[Unit]
Description=Family Chores App
After=network.target

[Service]
Type=simple
User=aapo
WorkingDirectory=/home/aapo/ChoresApp
ExecStart=/home/aapo/ChoresApp/venv/bin/python /home/aapo/ChoresApp/app.py
Restart=always
RestartSec=10
Environment=FLASK_ENV=production
Environment=FLASK_RUN_PORT=8080

[Install]
WantedBy=multi-user.target 